# PRACTICE FOR DS - BIBLE STUDY

## Bible Study: Part 1
### ***Goals:***
#### 1. Familiarization with presentation concepts
- Markdown
- Formatting

#### 2. Resource Utilization
- [Markdown Cheats] (https://www.markdownguide.org/cheat-sheet/)
- [GitHub Guide] (https://guides.github.com/activities/hello-world/)
- [Why Notebooks] (https://cognitiveclass.ai/blog/data-scientists-stand-out-by-sharing-your-notebooks)

## Bible Study: Part 2
### ***Goals:***
1. Converting and loading tables
2. SQL for Pandas
3. Initial analases of data
4. Cleaning and reformatting data frames

#### Preprocessing

### Using pandas
[Pandas guide] (https://pandas.pydata.org/pandas-docs/stable/reference/frame.html)

In [1]:
#importing Pandas and Numpy
import numpy as np
import pandas as pd
import matplotlib as mpl

In [31]:
# loading the data from file
    # data set obtained from Kaggle-bible corpus project
    
df = pd.read_csv("data/BibleVerses.csv")
key = pd.read_csv("data/key_english.csv")
#uploaded file into Jupyter Notebook
#copied file path from SkillsNetwork

In [32]:
# looking at the data - 10 rows deep
print(df.head(3))
print(key.head(3))

        id  b  c  v                                                  t
0  1001001  1  1  1  In the beginning God created the heavens and t...
1  1001002  1  1  2  And the earth was waste and void; and darkness...
2  1001003  1  1  3  And God said, Let there be light: and there wa...
   b          n   t  g
0  1    Genesis  OT  1
1  2     Exodus  OT  1
2  3  Leviticus  OT  1

In [33]:
#Cleaning column names
df.rename(columns = {'b':'book','c':'chapter','v':'verse_number','t':'verse_text'}, inplace=True)
key.rename(columns = {'b':'book','n':'name','t':'test'}, inplace=True)

In [34]:
#dropping a column
key = key.drop(['g'], axis = 1)
print(key.head(3))

   book       name test
0     1    Genesis   OT
1     2     Exodus   OT
2     3  Leviticus   OT

In [35]:
#confirming changes
print(df.head(3))
print(key.head(3))

        id  book  chapter  verse_number  \
0  1001001     1        1             1
1  1001002     1        1             2
2  1001003     1        1             3

                                          verse_text
0  In the beginning God created the heavens and t...
1  And the earth was waste and void; and darkness...
2  And God said, Let there be light: and there wa...
   book       name test
0     1    Genesis   OT
1     2     Exodus   OT
2     3  Leviticus   OT

In [36]:
df.describe()

                 id          book       chapter  verse_number
count  3.110300e+04  31103.000000  31103.000000  31103.000000
mean   2.251812e+07     22.497476     20.630614     17.043308
std    1.649304e+07     16.497256     23.408329     14.075084
min    1.001001e+06      1.000000      1.000000      1.000000
25%    9.021004e+06      9.000000      6.000000      7.000000
50%    1.910300e+07     19.000000     14.000000     14.000000
75%    4.000701e+07     40.000000     26.000000     23.000000
max    6.602202e+07     66.000000    150.000000    176.000000

In [37]:
#notice only columns with integers
key.describe()

            book
count  66.000000
mean   33.500000
std    19.196354
min     1.000000
25%    17.250000
50%    33.500000
75%    49.750000
max    66.000000

In [38]:
#need to make this a while loop for each row
text=df['verse_text'].iloc[0:10]
text

0    In the beginning God created the heavens and t...
1    And the earth was waste and void; and darkness...
2    And God said, Let there be light: and there wa...
3    And God saw the light, that it was good: and G...
4    And God called the light Day, and the darkness...
5    And God said, Let there be a firmament in the ...
6    And God made the firmament, and divided the wa...
7    And God called the firmament Heaven. And there...
8    And God said, Let the waters under the heavens...
9    And God called the dry land Earth; and the gat...
Name: verse_text, dtype: object

In [39]:
text.str.len()

0     55
1    134
2     54
3     85
4    117
5    112
6    144
7     95
8    127
9    121
Name: verse_text, dtype: int64

In [40]:
#In an attempt to create an array of only individual words the following failed.
#df['string']= df['verse_text'].str.split()
#df['string2'] = df['verse_text'].str.split(',')
df['string']= df['verse_text'].str.split('\W')
df.head()

,id,book,chapter,verse_number,verse_text,string
0,1001001,1,1,1,In the beginning God created the heavens and t...,"[In, the, beginning, God, created, the, heaven..."
1,1001002,1,1,2,And the earth was waste and void; and darkness...,"[And, the, earth, was, waste, and, void, , and..."
2,1001003,1,1,3,"And God said, Let there be light: and there wa...","[And, God, said, , Let, there, be, light, , an..."
3,1001004,1,1,4,"And God saw the light, that it was good: and G...","[And, God, saw, the, light, , that, it, was, g..."
4,1001005,1,1,5,"And God called the light Day, and the darkness...","[And, God, called, the, light, Day, , and, the..."

In [81]:
wordplay = {}
wp= pd.DataFrame(data=wordplay)
wp.head()

Empty DataFrame
Columns: []
Index: []

In [82]:
wp['explosion'] = df['string'].explode()

In [83]:
wp

       explosion
0             In
0            the
0      beginning
0            God
0        created
...          ...
31102        the
31102     saints
31102
31102       Amen
31102

[922924 rows x 1 columns]

In [72]:
wp.count()

922926

In [84]:
wp.to_csv(r'C:\Users\Evan\Documents\wordplaydataframe2.csv', index= False)
#df.to_csv(r'splitdf.csv', index=False)

In [71]:
wp.iloc[0]

'In'

In [76]:
#df = pd.read_csv("splitdf.csv")
wp = pd.read_csv(r"C:\Users\Evan\Documents\wordplaydataframe2.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Evan\\Documents\\wordplaydataframe2.csv'

In [10]:
wp['explosion'].count()

922924

In [24]:
unique = {}
uni= pd.DataFrame(data=unique)
uni['unique'] = wp.explosion.unique()
uni['unique'].count()

30683

In [23]:
wp['explosion'].count

<bound method Series.count of 0         ['In', 'the', 'beginning', 'God', 'created', '...
1         ['And', 'the', 'earth', 'was', 'waste', 'and',...
2         ['And', 'God', 'said', '', 'Let', 'there', 'be...
3         ['And', 'God', 'saw', 'the', 'light', '', 'tha...
4         ['And', 'God', 'called', 'the', 'light', 'Day'...
                                ...
922919                                                  NaN
922920                                                  NaN
922921                                                  NaN
922922                                                  NaN
922923                                                  NaN
Name: explosion, Length: 922924, dtype: object>

In [29]:
uni.to_csv(r'uniquedataframe.csv',index=False)
df.to_csv(r'splitdf.csv', index=False)

In [18]:
i = 0
while i< df['verse_text'].count():
    text=df['verse_text'].iloc[i]
    i+=1
    print(text.unique())

AttributeError: 'str' object has no attribute 'unique'

In [22]:
df['verse_text'].iloc[5]

'And God said, Let there be a firmament in the midst of the waters, and let it divide the waters from the waters.'

### CONNECTING TO DATABASE

In [8]:
!pip install sqlalchemy pandas numpy cx_oracle matplotlib

Requirement already satisfied: sqlalchemy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.20)
Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: numpy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.19.4)
Collecting cx_oracle
  Downloading https://files.pythonhosted.org/packages/87/fb/a7695553a831e79bec8d201211b489fa4c6e44d3c53828a94405ae184ca6/cx_Oracle-8.1.0-cp36-cp36m-manylinux1_x86_64.whl (803kB)
     |████████████████████████████████| 808kB 11.0MB/s eta 0:00:01
Requirement already satisfied: matplotlib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (3.3.3)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: cx-oracle
Successfully installed cx-oracle-8.1.0

In [10]:
from sqlalchemy import create_engine
import cx_Oracle
import os
import matplotlib.pyplot as plt